@{
    ViewData["Title"] = "Column View";
}

@model ProductionPlanner.ViewModels.PlannerViewModel;

<!-- Page title & actions -->
<div class="border-b border-gray-200 px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8">
    <div class="flex-1 min-w-0">
        <h1 class="text-lg font-medium leading-6 text-gray-900 sm:truncate">
            Home
        </h1>
    </div>
    <div class="py-4 flex sm:mt-0 sm:ml-4">
        <button type="button" class="order-1 ml-3 inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 sm:order-0 sm:ml-3">
            Share
        </button>
        <button type="button" class="order-0 inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 sm:order-1 sm:ml-3">
            Create
        </button>
    </div>
</div>

<!-- Column view -->
<div class="max-w-7xl mx-auto sm:px-6 lg:px-8 sm:py-6 lg:py-8">
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8 h-screen flex">
            @{
                foreach (Week week in Model.Weeks)
                {
                    <div id="week_table" class="py-2 align-middle inline-block sm:px-6 lg:px-8">
                        <h2 class="text-lg leading-6 font-medium text-gray-900 pb-3">Uge 43</h2>
                        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200 overflow-scroll">
                                <thead class="bg-gray-50">
                                <tr>
                                    @{
                                        foreach (Day day in week.Days)
                                        {
                                            <th scope="col" class="w-1/2 px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                @day.DayName
                                                <span aria-hidden="true">&middot;</span>
                                                @day.Date.ToShortDateString()
                                            </th>
                                        }
                                    }
                                </tr>
                                </thead>
                                <tbody>
                                <!-- Odd row -->
                                <tr class="bg-white">
                                    @{
                                        foreach (Day day in week.Days)
                                        {
                                            <td class="border border-gray-200 whitespace-nowrap text-center text-sm text-gray-900 align-top min-w-full">
                                                <ul role="list" class="relative z-0 divide-y divide-gray-200">

                                                    @{
                                                        if (day.Tasks.Count == 0)
                                                        {
                                                            <li class="relative pl-4 pr-6 hover:bg-gray-50 sm:py-6 sm:pl-6 lg:pl-8 xl:pl-6 w-96">
                                                                <div class="text-center">
                                                                  <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                                                    <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
                                                                  </svg>
                                                                  <h3 class="mt-2 text-sm font-medium text-gray-900">No tasks</h3>
                                                                  <p class="mt-1 text-sm text-gray-500">
                                                                      Create a new project and add tasks.
                                                                  </p>
                                                                  <div class="mt-6">
                                                                    <button type="button" class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                                                      <!-- Heroicon name: solid/plus -->
                                                                      <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                                        <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
                                                                      </svg>
                                                                      New Project
                                                                    </button>
                                                                  </div>
                                                                </div>
                                                            </li>
                                                        }

                                                        foreach (ProjectTask task in day.Tasks)
                                                        {
                                                            <li class="relative pl-4 pr-6 hover:bg-gray-50 sm:py-6 sm:pl-6 lg:pl-8 xl:pl-6 w-96">
                                                                <div class="flex items-center justify-between space-x-4">

                                                                    <!-- Repo name and link -->
                                                                    <div class="min-w-0 space-y-3 pr-8">
                                                                        <div class="flex items-center space-x-3">
                                                                            <span class="h-4 w-4 bg-green-100 rounded-full flex items-center justify-center" aria-hidden="true">
                                                                                <span class="h-2 w-2 bg-green-400 rounded-full"></span>
                                                                            </span>

                                                                            <span class="block">
                                                                                <h2 class="text-sm font-medium">
                                                                                    <a href="#">
                                                                                        <span class="absolute inset-0" aria-hidden="true"></span>
                                                                                        @task.Name <span class="sr-only">Running</span>
                                                                                    </a>
                                                                                </h2>
                                                                            </span>
                                                                        </div>
                                                                        <a href="#" class="relative group flex items-center space-x-2.5">
                                                                            @*<svg class="flex-shrink-0 w-5 h-5 text-gray-400 group-hover:text-gray-500" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.99917 0C4.02996 0 0 4.02545 0 8.99143C0 12.9639 2.57853 16.3336 6.15489 17.5225C6.60518 17.6053 6.76927 17.3277 6.76927 17.0892C6.76927 16.8762 6.76153 16.3104 6.75711 15.5603C4.25372 16.1034 3.72553 14.3548 3.72553 14.3548C3.31612 13.316 2.72605 13.0395 2.72605 13.0395C1.9089 12.482 2.78793 12.4931 2.78793 12.4931C3.69127 12.5565 4.16643 13.4198 4.16643 13.4198C4.96921 14.7936 6.27312 14.3968 6.78584 14.1666C6.86761 13.5859 7.10022 13.1896 7.35713 12.965C5.35873 12.7381 3.25756 11.9665 3.25756 8.52116C3.25756 7.53978 3.6084 6.73667 4.18411 6.10854C4.09129 5.88114 3.78244 4.96654 4.27251 3.72904C4.27251 3.72904 5.02778 3.48728 6.74717 4.65082C7.46487 4.45101 8.23506 4.35165 9.00028 4.34779C9.76494 4.35165 10.5346 4.45101 11.2534 4.65082C12.9717 3.48728 13.7258 3.72904 13.7258 3.72904C14.217 4.96654 13.9082 5.88114 13.8159 6.10854C14.3927 6.73667 14.7408 7.53978 14.7408 8.52116C14.7408 11.9753 12.6363 12.7354 10.6318 12.9578C10.9545 13.2355 11.2423 13.7841 11.2423 14.6231C11.2423 15.8247 11.2313 16.7945 11.2313 17.0892C11.2313 17.3299 11.3937 17.6097 11.8501 17.522C15.4237 16.3303 18 12.9628 18 8.99143C18 4.02545 13.97 0 8.99917 0Z" fill="currentcolor" />
                                                  </svg>*@
                                                                            <svg class="flex-shrink-0 w-5 h-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"/>
                                                                            </svg>
                                                                            <span class="text-sm text-gray-500 group-hover:text-gray-900 font-medium truncate">
                                                                                @task.ProjectName
                                                                            </span>
                                                                        </a>
                                                                        <a href="#" class="relative group flex items-center space-x-2.5">
                                                                            @*<svg class="flex-shrink-0 w-5 h-5 text-gray-400 group-hover:text-gray-500" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.99917 0C4.02996 0 0 4.02545 0 8.99143C0 12.9639 2.57853 16.3336 6.15489 17.5225C6.60518 17.6053 6.76927 17.3277 6.76927 17.0892C6.76927 16.8762 6.76153 16.3104 6.75711 15.5603C4.25372 16.1034 3.72553 14.3548 3.72553 14.3548C3.31612 13.316 2.72605 13.0395 2.72605 13.0395C1.9089 12.482 2.78793 12.4931 2.78793 12.4931C3.69127 12.5565 4.16643 13.4198 4.16643 13.4198C4.96921 14.7936 6.27312 14.3968 6.78584 14.1666C6.86761 13.5859 7.10022 13.1896 7.35713 12.965C5.35873 12.7381 3.25756 11.9665 3.25756 8.52116C3.25756 7.53978 3.6084 6.73667 4.18411 6.10854C4.09129 5.88114 3.78244 4.96654 4.27251 3.72904C4.27251 3.72904 5.02778 3.48728 6.74717 4.65082C7.46487 4.45101 8.23506 4.35165 9.00028 4.34779C9.76494 4.35165 10.5346 4.45101 11.2534 4.65082C12.9717 3.48728 13.7258 3.72904 13.7258 3.72904C14.217 4.96654 13.9082 5.88114 13.8159 6.10854C14.3927 6.73667 14.7408 7.53978 14.7408 8.52116C14.7408 11.9753 12.6363 12.7354 10.6318 12.9578C10.9545 13.2355 11.2423 13.7841 11.2423 14.6231C11.2423 15.8247 11.2313 16.7945 11.2313 17.0892C11.2313 17.3299 11.3937 17.6097 11.8501 17.522C15.4237 16.3303 18 12.9628 18 8.99143C18 4.02545 13.97 0 8.99917 0Z" fill="currentcolor" />
                                                                      </svg>*@
                                                                            <span class="inline-flex items-center justify-center h-6 w-6 rounded-full bg-gray-500">
                                                                                <span class="text-xs font-medium leading-none text-white">TW</span>
                                                                            </span>
                                                                            <span class="text-sm text-gray-500 group-hover:text-gray-900 font-medium truncate">
                                                                                @task.PersonAssigned
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                    <div class="sm:hidden">
                                                                        <!-- Heroicon name: solid/chevron-right -->
                                                                        <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                                                                        </svg>
                                                                    </div>

                                                                    <!-- Repo meta info -->
                                                                    <div class="hidden sm:flex flex-col flex-shrink-0 items-end space-y-3">
                                                                        <p class="flex items-center space-x-4">
                                                                            <a href="#" class="relative text-sm text-gray-500 hover:text-gray-900 font-medium">
                                                                                Læs mere
                                                                            </a>
                                                                            <button type="button" class="relative bg-white rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                                                                <span class="sr-only">Add to favorites</span>
                                                                                <!--
                                                                                Heroicon name: solid/star
                                
                                                                                Starred: "text-yellow-300 hover:text-yellow-400", Not Starred: "text-gray-300 hover:text-gray-400"
                                                                                -->
                                                                                <svg class="text-yellow-300 hover:text-yellow-400 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                                                                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"/>
                                                                                </svg>
                                                                            </button>
                                                                        </p>
                                                                        <p class="flex text-gray-500 text-sm space-x-2">
                                                                            <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-blue-100 text-blue-800">
                                                                                @task.Progress
                                                                            </span>
                                                                            <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">
                                                                                @task.Duration timer
                                                                            </span>
                                                                        </p>
                                                                        <p class="flex text-gray-500 text-sm space-x-2">
                                                                            @*<span aria-hidden="true">&middot;</span>*@
                                                                            <span>Due @task.Date</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </td>
                                        }
                                    }
                                </tr>
                                <!-- More people... -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>