@model ProductionPlanner.ViewModels.ProjectTemplatesViewModel;

<main x-data class="flex-1 relative z-0 overflow-y-auto focus:outline-none xl:order-last">
    <!-- Start main area-->
    @{
        foreach (var projectTemplate in Model.ProjectTemplates)
        {
            <div x-cloak x-show="$store.page.currentProject == @projectTemplate.Id" class="flex justify-between">
                <div class="px-4 py-5 sm:px-6">
                    <h3 class="text-lg leading-6 font-medium text-gray-900">
                        Project task information
                    </h3>
                    <p class="mt-1 max-w-2xl text-sm text-gray-500">
                        View and edit an individual project task below
                    </p>
                </div>
                <div class="px-4 py-5 sm:px-6">
                    <button onclick="deleteProjectTemplate(@projectTemplate.Id)" type="button" class="inline-flex items-center justify-center px-4 py-2 border border-transparent font-medium rounded-md text-red-700 bg-red-100 hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:text-sm">
                        Delete
                    </button>
                    <button onclick="editProjectTemplate(@projectTemplate.Id)" type="button" class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 sm:order-1 sm:ml-3">
                        Edit
                    </button>
                </div>
            </div>

            <div x-cloak x-show="$store.page.currentProject == @projectTemplate.Id" class="border-t border-gray-200 px-4 sm:px-6">
                <div class="bg-gray-100 my-4 py-2 rounded">
                    <div class="sm:hidden">
                        <label for="tabs" class="sr-only">Select a tab</label>
                        <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
                        <select id="tabs" name="tabs" class="block w-full focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
                            @{
                                foreach (var projectTask in projectTemplate.ProjectTasks)
                                {
                                    <a x-on:click="$store.page.showTask(@projectTask.Id)" href="#" class="m-0 text-gray-600 hover:text-gray-800 px-3 py-2 font-medium text-sm rounded-md">
                                        @projectTask.Name
                                    </a>

                                    <option x-on:click="$store.page.showTask(@projectTask.Id)" selected>@projectTask.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="hidden sm:block">
                        <nav class="flex space-x-4 flex-wrap" aria-label="Tabs">
                            <!-- Current: "bg-gray-200 text-gray-800", Default: "text-gray-600 hover:text-gray-800" -->

                            @{
                                foreach (var projectTask in projectTemplate.ProjectTasks)
                                {
                                    <a x-on:click="$store.page.showTask(@projectTask.Id)" href="#" class="m-0 text-gray-600 hover:text-gray-800 px-3 py-2 font-medium text-sm rounded-md">
                                        @projectTask.Name
                                    </a>
                                }
                            }
                        </nav>
                    </div>
                </div>

                @{
                    foreach (var projectTask in projectTemplate.ProjectTasks)
                    {
                        <dl x-cloak x-show="$store.page.currentTask == @projectTask.Id" class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
                            <div class="sm:col-span-1">
                                <dt class="text-sm font-medium text-gray-500">
                                    Task name
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900">
                                    @projectTask.Name
                                </dd>
                            </div>
                            <div class="sm:col-span-1">
                                <dt class="text-sm font-medium text-gray-500">
                                    Project name
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900">
                                    @projectTask.ProjectName
                                </dd>
                            </div>
                            <div class="sm:col-span-1">
                                <dt class="text-sm font-medium text-gray-500">
                                    Duration
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900">
                                    @projectTask.Duration hours
                                </dd>
                            </div>
                            <div class="sm:col-span-1">
                                <dt class="text-sm font-medium text-gray-500">
                                    Priority
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900">
                                    @projectTask.Priority
                                </dd>
                            </div>
                            <div class="sm:col-span-2">
                                <dt class="text-sm font-medium text-gray-500">
                                    Description
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900">
                                    @projectTask.Description
                                </dd>
                            </div>
                        </dl>
                    }
                }
            </div>
        }
    }
    <!-- End main area -->
</main>

<aside x-data class="hidden relative xl:order-first xl:flex xl:flex-col flex-shrink-0 w-96 border-r border-gray-200 overflow-y-auto">
    <!-- Start secondary column (hidden on smaller screens) -->

    <div class="h-full relative flex flex-col w-96 border-r border-gray-200 bg-gray-100">
        <div class="flex-shrink-0">
            <div class="h-36 bg-white px-6 flex flex-col justify-center">
                <div class="flex items-baseline space-x-3">
                    <h2 class="text-lg font-medium text-gray-900">Project templates</h2>
                    <p class="text-sm font-medium text-gray-500">10 templates</p>
                </div>
                <button x-on:click="$store.page.showNewTemplate(true)" type="button" class="w-1/2 mt-3 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Create new template
                </button>
            </div>
            <div class="border-t border-b border-gray-200 bg-gray-50 px-6 py-2 text-sm font-medium text-gray-500">
                Sorted by name
            </div>
        </div>
        <nav aria-label="Message list" class="min-h-0 flex-1 overflow-y-auto">
            <ul role="list" class="border-b border-gray-200 divide-y divide-gray-200">
                @{
                    foreach (var projectTemplate in Model.ProjectTemplates)
                    {
                        <li x-on:click="$store.page.showProject(@projectTemplate.Id)" class="relative bg-white py-5 px-6 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-blue-600">
                            <div class="flex justify-between space-x-3">
                                <div class="min-w-0 flex-1">
                                    <a href="#" class="block focus:outline-none">
                                        <span class="absolute inset-0" aria-hidden="true"></span>
                                        <p class="text-sm font-medium text-gray-900 truncate">@projectTemplate.Name</p>
                                        <p class="text-sm text-gray-500 truncate">Created by @projectTemplate.Owner</p>
                                    </a>
                                </div>
                                <time datetime="2021-01-27T16:35" class="flex-shrink-0 whitespace-nowrap text-sm text-gray-500">@projectTemplate.ProjectTasks.Count() tasks</time>
                            </div>
                            <div class="mt-1">
                                <p class="line-clamp-2 text-sm text-gray-600">
                                    @projectTemplate.Description
                                </p>
                            </div>
                        </li>
                    }
                }

                <li class="relative bg-white py-5 px-6 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-blue-600">
                    <button x-on:click="$store.page.showNewTemplate(true)" type="button" class="relative block w-full border-2 border-gray-300 border-dashed rounded-lg p-12 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"/>
                        </svg>
                        <span class="mt-2 block text-sm font-medium text-gray-900">
                            Create a new project template
                        </span>
                    </button>
                </li>

            </ul>
        </nav>
    </div>
    <!-- End secondary column -->
</aside>

<script>
    function deleteProjectTemplate(id) {
        $.ajax({
               type: "POST",
               url: "Home/DeleteProjectTemplate?id=" + id,
               success: function(data)
               {
                    // Reload part of page that shows template
                    var container = $("#projectTemplateContainer");
                    container.html(data);
               }
             });
        }
        
        function editProjectTemplate(id) {
            $.ajax({
                   type: "GET",
                   url: "Home/UpdateProjectTemplate?templateId=" + id,
                   success: function(data)
                   {
                        // Update the page with the fetched template
                        var container = $("#editTemplateContainer");
                        container.html(data);
                        
                        // Show the edit menu, when the template has finished loaded
                        setTimeout(function() {
                            Alpine.store('page').showEditTemplate(true);
                        }, 1);
                   }
                 });
        }
        
        var no = 1;
        function addNewTask() {
            let template = document.getElementById("task_row_template");
            let listItem = template.content.cloneNode(true);
            
            // Add html to page
            listItem.children[0].id = "task_row_"+no;
            document.getElementById('add_new_task_list').appendChild(listItem);
            
            // Set html attributes of the new list item
            document.getElementById("task_row_"+no).querySelector('input[name="Name"]').setAttribute("name", "ProjectTemplate.ProjectTasks[" + no + "].Name");
            document.getElementById("task_row_"+no).querySelector('input[name="Priority"]').value = no;
            document.getElementById("task_row_"+no).querySelector('input[name="Priority"]').setAttribute("name", "ProjectTemplate.ProjectTasks[" + no + "].Priority");
            document.getElementById("task_row_"+no).querySelector('input[name="Duration"]').setAttribute("name", "ProjectTemplate.ProjectTasks[" + no + "].Duration");
            document.getElementById("task_row_"+no).querySelector('textarea[name="Description"]').setAttribute("name", "ProjectTemplate.ProjectTasks[" + no + "].Description");
            
            // Increment number, so every form is unique
            no++;
        }
</script>