@{
    ViewData["Title"] = "Project templates";
    Layout = "_Layout";
}

@model ProductionPlanner.ViewModels.ProjectTemplatesViewModel;

@* <h3>Project templates</h3> *@
@* <ul> *@
@*     @foreach (var projectTemplate in Model) *@
@*     { *@
@*         <li>@projectTemplate.Name *@
@*             @foreach (var task in projectTemplate.ProjectTasks) *@
@*             { *@
@*                 <p>@task.Name</p> *@
@*                 <p>@task.Date</p> *@
@*                 <p>@task.Description</p> *@
@*                 <p>@task.Priority</p> *@
@*                 <p>@task.Progress</p> *@
@*                 <br/> *@
@*             } *@
@*         </li> *@
@*     } *@
@* </ul> *@


<main x-data class="flex-1 relative z-0 overflow-y-auto focus:outline-none xl:order-last">
    <!-- Start main area-->

    <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
            Project task information
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
            View and edit an individual project task below
        </p>
    </div>

    @{
        foreach (var projectTemplate in Model.ProjectTemplates)
        {
            <div x-cloak x-show="$store.projectTemplate.currentProject == @projectTemplate.Id" class="border-t border-gray-200 px-4 sm:px-6">
                <div class="bg-gray-100 my-4 py-2 rounded">
                    <div class="sm:hidden">
                        <label for="tabs" class="sr-only">Select a tab</label>
                        <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
                        <select id="tabs" name="tabs" class="block w-full focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
                            @{
                                foreach (var projectTask in projectTemplate.ProjectTasks)
                                {
                                    <a x-on:click="$store.projectTemplate.showTask(@projectTask.Id)" href="#" class="m-0 text-gray-600 hover:text-gray-800 px-3 py-2 font-medium text-sm rounded-md">
                                        @projectTask.Name
                                    </a>

                                    <option x-on:click="$store.projectTemplate.showTask(@projectTask.Id)" selected>@projectTask.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="hidden sm:block">
                        <nav class="flex space-x-4 flex-wrap" aria-label="Tabs">
                            <!-- Current: "bg-gray-200 text-gray-800", Default: "text-gray-600 hover:text-gray-800" -->

                            @{
                                foreach (var projectTask in projectTemplate.ProjectTasks)
                                {
                                    <a x-on:click="$store.projectTemplate.showTask(@projectTask.Id)" href="#" class="m-0 text-gray-600 hover:text-gray-800 px-3 py-2 font-medium text-sm rounded-md">
                                        @projectTask.Name
                                    </a>
                                }
                            }
                        </nav>
                    </div>
                </div>

                @{
                    foreach (var projectTask in projectTemplate.ProjectTasks)
                    {
                        <dl x-cloak x-show="$store.projectTemplate.currentTask == @projectTask.Id" class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
                            <div class="sm:col-span-1">
                                <dt class="text-sm font-medium text-gray-500">
                                    Task name
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900">
                                    Task name
                                </dd>
                            </div>
                            <div class="sm:col-span-1">
                                <dt class="text-sm font-medium text-gray-500">
                                    Project name
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900">
                                    Project name
                                </dd>
                            </div>
                            <div class="sm:col-span-1">
                                <dt class="text-sm font-medium text-gray-500">
                                    Duration
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900">
                                    2 hours
                                </dd>
                            </div>
                            <div class="sm:col-span-1">
                                <dt class="text-sm font-medium text-gray-500">
                                    Priority
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900">
                                    1
                                </dd>
                            </div>
                            <div class="sm:col-span-2">
                                <dt class="text-sm font-medium text-gray-500">
                                    Description
                                </dt>
                                <dd class="mt-1 text-sm text-gray-900">
                                    Fugiat ipsum ipsum deserunt culpa aute sint do nostrud anim incididunt cillum culpa consequat. Excepteur qui ipsum aliquip consequat sint. Sit id mollit nulla mollit nostrud in ea officia proident. Irure nostrud pariatur mollit ad adipisicing reprehenderit deserunt qui eu.
                                </dd>
                            </div>
                        </dl>
                    }
                }
            </div>
        }
    }
    <!-- End main area -->
</main>

<aside x-data class="hidden relative xl:order-first xl:flex xl:flex-col flex-shrink-0 w-96 border-r border-gray-200 overflow-y-auto">
    <!-- Start secondary column (hidden on smaller screens) -->

    <div class="h-full relative flex flex-col w-96 border-r border-gray-200 bg-gray-100">
        <div class="flex-shrink-0">
            <div class="h-36 bg-white px-6 flex flex-col justify-center">
                <div class="flex items-baseline space-x-3">
                    <h2 class="text-lg font-medium text-gray-900">Project templates</h2>
                    <p class="text-sm font-medium text-gray-500">10 templates</p>
                </div>
                <button x-on:click="$store.projectTemplate.showNewTemplate(true)" type="button" class="w-1/2 mt-3 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Create new template
                </button>
            </div>
            <div class="border-t border-b border-gray-200 bg-gray-50 px-6 py-2 text-sm font-medium text-gray-500">
                Sorted by name
            </div>
        </div>
        <nav aria-label="Message list" class="min-h-0 flex-1 overflow-y-auto">
            <ul role="list" class="border-b border-gray-200 divide-y divide-gray-200">
                @{
                    foreach (var projectTemplate in Model.ProjectTemplates)
                    {
                        <li x-on:click="$store.projectTemplate.showProject(@projectTemplate.Id)" class="relative bg-white py-5 px-6 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-blue-600">
                            <div class="flex justify-between space-x-3">
                                <div class="min-w-0 flex-1">
                                    <a href="#" class="block focus:outline-none">
                                        <span class="absolute inset-0" aria-hidden="true"></span>
                                        <p class="text-sm font-medium text-gray-900 truncate">@projectTemplate.Name</p>
                                        <p class="text-sm text-gray-500 truncate">Created by @projectTemplate.Owner</p>
                                    </a>
                                </div>
                                <time datetime="2021-01-27T16:35" class="flex-shrink-0 whitespace-nowrap text-sm text-gray-500">@projectTemplate.ProjectTasks.Count() tasks</time>
                            </div>
                            <div class="mt-1">
                                <p class="line-clamp-2 text-sm text-gray-600">
                                    @projectTemplate.Description
                                </p>
                            </div>
                        </li>
                    }
                }

                <li class="relative bg-white py-5 px-6 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-blue-600">
                    <button type="button" class="relative block w-full border-2 border-gray-300 border-dashed rounded-lg p-12 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"/>
                        </svg>
                        <span class="mt-2 block text-sm font-medium text-gray-900">
                            Create a new project template
                        </span>
                    </button>
                </li>

            </ul>
        </nav>
    </div>
    <!-- End secondary column -->
</aside>


<div x-cloak x-on:keyup.escape="$store.projectTemplate.showNewTemplate(false)" x-show="$store.projectTemplate.newTemplate == true" class="fixed inset-0 overflow-hidden" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
    <div class="absolute inset-0 overflow-hidden">
        <!-- Background overlay, show/hide based on slide-over state. -->
        <div class="absolute inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
        <div class="fixed inset-y-0 right-0 pl-10 max-w-full flex sm:pl-16">

            <div
                x-cloak
                x-on:click.outside="$store.projectTemplate.showNewTemplate(false)"
                x-show="$store.projectTemplate.newTemplate == true"
                x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700"
                x-transition:enter-start="translate-x-full"
                x-transition:enter-end="translate-x-0"
                x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700"
                x-transition:leave-start="translate-x-0"
                x-transition:leave-end="translate-x-full"
                class="w-screen max-w-2xl">
                <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="newTemplateSuccess" asp-controller="Home" asp-action="NewProjectTemplate" class="h-full flex flex-col bg-white shadow-xl overflow-y-scroll">
                    <div class="flex-1 overflow-y-auto">
                        <!-- Header -->
                        <div class="px-4 py-6 bg-gray-50 sm:px-6">
                            <div class="flex items-start justify-between space-x-3">
                                <div class="space-y-1">
                                    <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">
                                        New project
                                    </h2>
                                    <p class="text-sm text-gray-500">
                                        Get started by filling in the information below to create your new project.
                                    </p>
                                </div>
                                <div class="h-7 flex items-center">
                                    <button x-on:click="$store.projectTemplate.showNewTemplate(false)" type="button" class="text-gray-400 hover:text-gray-500">
                                        <span class="sr-only">Close panel</span>
                                        <!-- Heroicon name: outline/x -->
                                        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- Divider container -->
                        <div class="py-6 space-y-6 sm:py-0 sm:space-y-0 sm:divide-y sm:divide-gray-200">
                            <!-- Project name -->
                            <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
                                <div>
                                    <label for="project-name" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
                                        Name
                                    </label>
                                </div>
                                <div class="sm:col-span-2">
                                    @Html.EditorFor(x => x.ProjectTemplate.Name, new {htmlAttributes = new {@type = "text", @class = "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md"}})
                                </div>
                            </div>

                            <!-- Project description -->
                            <div class="space-y-1 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 sm:py-5">
                                <div>
                                    <label for="project-description" class="block text-sm font-medium text-gray-900 sm:mt-px sm:pt-2">
                                        Description
                                    </label>
                                </div>
                                <div class="sm:col-span-2">
                                    @Html.EditorFor(x => x.ProjectTemplate.Description, new {htmlAttributes = new {@type = "text", @class = "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md"}})
                                    @* <textarea id="project-description" name="project-description" asp-for="ProjectTemplate.Name" rows="3" class="block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border border-gray-300 rounded-md"></textarea> *@
                                </div>
                            </div>

                            <!-- Team members -->
                            <div class="space-y-2 px-4 sm:space-y-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-center sm:px-6 sm:py-5">
                                <div>
                                    <h3 class="text-sm font-medium text-gray-900">
                                        Tasks in project
                                    </h3>
                                </div>
                                <div class="col-span-3">
                                    <div class="flex flex-column space-x-2">
                                        <button id="add_new_task" onclick="addNewTask()" type="button" class="relative block w-full border-2 border-gray-300 border-dashed rounded-lg p-3 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"/>
                                            </svg>
                                            <span class="mt-2 block text-sm font-medium text-gray-900">
                                                Add new task to template
                                            </span>
                                        </button>

                                        <ul id="add_new_task_list" role="list" class="divide-y divide-gray-200">
                                            <li id="task_row" class="py-4">
                                                <div class="bg-white">
                                                    <div class="grid grid-cols-6 gap-6">
                                                        <div class="col-span-6 sm:col-span-3">
                                                            <label class="block text-sm font-medium text-gray-700">Name</label>
                                                            @Html.EditorFor(x => x.ProjectTemplate.ProjectTasks[0].Name, new {htmlAttributes = new {@type = "text", @class = "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"}})
                                                        </div>

                                                        <div class="col-span-6 sm:col-span-3">
                                                            <label class="block text-sm font-medium text-gray-700">Priority</label>
                                                            @Html.EditorFor(x => x.ProjectTemplate.ProjectTasks[0].Priority, new {htmlAttributes = new {@type = "number", @class = "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"}})
                                                        </div>

                                                        <div class="col-span-6 sm:col-span-3">
                                                            <label class="block text-sm font-medium text-gray-700">Duration in hours</label>
                                                            @Html.EditorFor(x => x.ProjectTemplate.ProjectTasks[0].Duration, new {htmlAttributes = new {@type = "number", @class = "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"}})
                                                        </div>

                                                        <div class="col-span-6 sm:col-span-4">
                                                            <label class="block text-sm font-medium text-gray-700">Description</label>
                                                            @Html.TextAreaFor(x => x.ProjectTemplate.ProjectTasks[0].Description, new {@class = "block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border border-gray-300 rounded-md"})
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Action buttons -->
                    <div class="flex-shrink-0 px-4 border-t border-gray-200 py-5 sm:px-6">
                        <div class="space-x-3 flex justify-end">
                            <button x-on:click="$store.projectTemplate.showNewTemplate(false)" type="button" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Cancel
                            </button>
                            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Create
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<template id="task_row_template">
    <li id="task_row_" class="py-4">
        <div class="bg-white">
            <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6 sm:col-span-3">
                    <label class="block text-sm font-medium text-gray-700">Name</label>
                    <input class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md text-box single-line" name="Name" type="text" value="">
                </div>

                <div class="col-span-6 sm:col-span-3">
                    <label class="block text-sm font-medium text-gray-700">Priority</label>
                    <input class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md text-box single-line" data-val="true" data-val-required="The Priority field is required." name="Priority" type="number" value="">
                </div>

                <div class="col-span-6 sm:col-span-3">
                    <label class="block text-sm font-medium text-gray-700">Duration in hours</label>
                    <input class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md text-box single-line" data-val="true" data-val-required="The Duration field is required." name="Duration" type="number" value="">
                </div>

                <div class="col-span-6 sm:col-span-4">
                    <label class="block text-sm font-medium text-gray-700">Description</label>
                    <textarea class="block w-full shadow-sm sm:text-sm focus:ring-indigo-500 focus:border-indigo-500 border border-gray-300 rounded-md" name="Description"></textarea>
                </div>
            </div>
        </div>
    </li>
</template>

@section Scripts
{
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.store('projectTemplate', {
                currentProject: "",
                currentTask: "",
                newTemplate: false,
     
                showProject(id) {
                    this.currentProject = id
                },
                showTask(id) {
                    this.currentTask = id
                },
                showNewTemplate(state) {
                    this.newTemplate = state
                },
            });
        });
        
        let no = 1;
        function addNewTask() {
            let template = document.getElementById("task_row_template");
            let listItem = template.content.cloneNode(true);
            
            // Add html to page
            listItem.children[0].id = "task_row_"+no;
            document.getElementById('add_new_task_list').appendChild(listItem);
            
            // Set html attributes of the new list item
            document.getElementById("task_row_"+no).querySelector('input[name="Name"]').setAttribute("name", "ProjectTemplate.ProjectTasks[" + no + "].Name");
            document.getElementById("task_row_"+no).querySelector('input[name="Priority"]').setAttribute("name", "ProjectTemplate.ProjectTasks[" + no + "].Priority");
            document.getElementById("task_row_"+no).querySelector('input[name="Duration"]').setAttribute("name", "ProjectTemplate.ProjectTasks[" + no + "].Duration");
            document.getElementById("task_row_"+no).querySelector('textarea[name="Description"]').setAttribute("name", "ProjectTemplate.ProjectTasks[" + no + "].Description");
            
            // Increment number, so every form is unique
            no++;
        }
        
        function newTemplateSuccess() {
            console.log("works");
        }
    </script>
}